body {
  position: relative;
  min-height: 100%;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.hideme {
  display: none;
}

.headerText {
  position: relative;
}

.fa-chevron-up {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: small;
}

.fa-chevron-down {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  font-size: small;
}

li:hover {
  cursor: pointer;
}
